/* 
    Full Background: #212128
    Menu Background: #3a3a3a
*/

.root {
    -fx-background-color: #242427;
}

.button-menu {
    -fx-font-size: 20px;
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #292929;
    -fx-background-radius: 4;
}

.path-outline {
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-background-color: #313131;
    -fx-border-width: 2px;
    -fx-border-color: #222222;
}

.label {
    -fx-text-fill: #9c9c9c;
    -fx-font-size: 20pt;
}

.button-create {
    -fx-font-size: 20px;
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #242429;
    -fx-background-radius: 4;
}


.top-menu {
    -fx-border-width: 2px;
    -fx-background-color: #3a3a3a;
    -fx-border-color: #222223;
}

.pathing-canvas {
    -fx-background-color: antiquewhite, white ;
    -fx-background-insets: 0, 20 ;
    -fx-padding: 20 ;
}