.root {
    -fx-background-color: #1f1f1f;
    -fx-border-color: #2c2c2c;
    -fx-border-width: 3px;
    -fx-border-radius: 4px;
    -fx-background-radius: 5px;
}

.sideMenu {
    -fx-background-color: #212121;
}

.button-back {
    -fx-background-color: transparent;
}
.button-back:hover {
    -fx-background-color: #292929;
}

.scrollable {
    -fx-background-color: #181818;
    -fx-background-radius: 10px;
}

.label-pathName {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 20;
}



.waypoints-box {
    -fx-background-color: #282828;
    -fx-background-radius: 7px;
}

.waypoints-label {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 20;
}


.waypoint-coord-box {
    -fx-background-color: #212121;
    -fx-background-radius: 5px;
}

.waypoint-coord-label {
    -fx-background-color: #212121;
    
    /* -fx-border-color: #FFFFFF;
    -fx-border-width: 2px;
    -fx-border-radius: 3px; */

    -fx-text-fill: #FFFFFF;
    -fx-font-size: 12;
}

.waypoint-coord-textfield {
    -fx-background-color: #212121;
    -fx-background-radius: 3px;

    -fx-border-color: #8b8b8b;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;

    -fx-text-fill: #FFFFFF;
}

.waypoint-label {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16;
}


.editing {
    -fx-border-color: #FFFFFF;
    -fx-border-width: 3px;
}