.root {
    -fx-background-color: #1f1f1f;
    -fx-border-color: #2c2c2c;
    -fx-border-width: 3px;
    -fx-border-radius: 4px;
    -fx-background-radius: 5px;
}

.sideMenu {
    -fx-background-color: #212121;
}

.button-back {
    -fx-background-color: transparent;
}
.button-back:hover {
    -fx-background-color: #292929;
}

.scrollable {
    -fx-background-color: #181818;
    -fx-background-radius: 10px;
}

.label-pathName {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 20;
}

.waypoint-scrollable {
    -fx-background-color: #1e1e1e;
}

.waypoint-box {
    -fx-background-color: #303030;
    -fx-background-radius: 5px;
}

.waypoint-label {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 15;
}




.editing {
    -fx-border-color: #FFFFFF;
    -fx-border-width: 3px;
}