.root {
    -fx-border-width: 2px;
    -fx-background-color: #242427;
    -fx-border-color: #222223;
}

.button-menu {
    -fx-font-size: 20px;
    -fx-text-fill: #d1d1d1;

    -fx-border-width: 3px;
    -fx-border-radius: 10px;
    -fx-background-radius: 12px;
}

.line-menu {
    -fx-stroke: #212122;
}

.label {
    -fx-text-fill: #d1d1d1;
    -fx-font-size: 20pt;
}

.button-sizeApp {
    -fx-background-color: null;
    -fx-alignment: center;
}

.button-closeApp {
    -fx-background-color: null;
    -fx-font-size: 15pt;
    -fx-alignment: center;
    -fx-text-fill: #c9c9c9;
}